<div class="forgot-password-content">
  <mat-stepper linear #stepper class="mat-stepper-content">
    <mat-step [stepControl]="firstFormGroup" editable class="first-step-content">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter your email address</ng-template>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="user@domain.com" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" editable class="second-step-content">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Choose a new password</ng-template>
        <mat-form-field>
          <mat-label>Enter a new password</mat-label>
          <input matInput formControlName="password" placeholder="password" type="password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm your password</mat-label>
          <input matInput formControlName="newPassword" placeholder="password" type="password" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step class="third-step-content" >
      <ng-template matStepLabel>Done</ng-template>
      <p>An e-mail has been sent to your e-mail address</p>
      <div>
        <button mat-button (click)="redirectToSignIn()">Completed</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
