.service-card {
  max-width: 300px;

}
.service-card-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.search{
  margin-top: 15px;
  margin-left: 80%;
}

.search-field{
 width: 350px;
}

