<app-header></app-header>
<main class="container">
  <h2 class="title">Hire Service</h2>

  <section class="avatar__wrapper">
    <div class="avatar__configuration">
      <form
        class="configuration__form"
        [formGroup]="serviceForm"
        (ngSubmit)="hireService()"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Amount of people</mat-label>
          <input type="number" matInput formControlName="amount" />
        </mat-form-field>

        <mat-form-field  class="example-full-width">
          <mat-label>Price</mat-label>
          <input type="number" matInput formControlName="price" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Date</mat-label>
          <input matInput formControlName="scheduledDate" />
        </mat-form-field>


        <!-- <mat-form-field class="example-full-width">
          <mat-label>Date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field> -->

        <div class="actions">
          <button mat-flat-button color="primary">Add</button>
        </div>
      </form>
    </div>
  </section>
</main>

