<app-header></app-header>
<div class="plans-container">

  <div class="cards-container">
    <!-- Current Plan -->
    <mat-card class="current-plan-card">
      <!-- Content Header Plan -->
      <div class="content-header">
        <mat-card-header>
          <div mat-card-avatar class="plan-icon">
            <mat-icon>attach_money</mat-icon>
          </div>
          <mat-card-title>Current Plan</mat-card-title>
          <mat-card-subtitle>For individual guides</mat-card-subtitle>
        </mat-card-header>
      </div>
      <!-- Content Info Plan -->
      <div class="content-info">
        <mat-card-content>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
        </mat-card-content>
      </div>
      <!-- Button Upgrade Plan -->
      <div class="content-button">
        <mat-card-actions>
          <button mat-raised-button class="custom-button" (click)="redirectToPaymentDetails()">Upgrade Plan</button>
        </mat-card-actions>
      </div>
    </mat-card>

    <!-- Plus Plan -->
    <mat-card class="plus-plan-card">
      <mat-card-header>
        <div mat-card-avatar class="plan-icon">
          <mat-icon>attach_money</mat-icon>
        </div>
        <mat-card-title>Plus Plan</mat-card-title>
        <mat-card-subtitle>For individual guides</mat-card-subtitle>
      </mat-card-header>
      <!-- Content Info Plan -->
      <div class="content-info">
        <mat-card-content>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
        </mat-card-content>
      </div>

      <!-- Button Upgrade Plan -->
      <div class="content-button">
        <mat-card-actions>
          <button mat-raised-button (click)="redirectToPaymentDetails()" >Upgrade Plan</button>
        </mat-card-actions>
      </div>

    </mat-card>

    <!-- Business Plan -->
    <mat-card class="business-plan-card">
      <!-- Content Header Plan -->
      <div class="content-header">
        <mat-card-header>
          <div mat-card-avatar class="plan-icon">
            <mat-icon>attach_money</mat-icon>
          </div>
          <mat-card-title>Business Plan</mat-card-title>
          <mat-card-subtitle>For individual guides</mat-card-subtitle>
        </mat-card-header>
      </div>
      <!-- Content Info Plan -->
      <div class="content-info">
        <mat-card-content>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
          <p>10 clients</p>
          <p>1 month free</p>
          <p>Basic Workspace</p>
        </mat-card-content>
      </div>
      <!-- Button Upgrade Plan -->
      <div class="content-button">
        <mat-card-actions>
          <button mat-raised-button class="custom-button" (click)="redirectToPaymentDetails()">Upgrade Plan</button>
        </mat-card-actions>
      </div>
    </mat-card>

  </div>


</div>
