.service-card {
  max-width: 1100px;
  min-width: 1000px;
  height: 150px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #356F80;

}

.service-card-content{
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-img{
  width: 150px;
  object-fit: contain;
  padding: 15px;

}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.header{
  margin-top: 15px;
}
