<mat-toolbar class="toolbar">
  <span><img class="logo" src="../../assets/logo.png"></span>
  <a *ngIf="userType == 1" mat-button class="account" [routerLink]="'/account'">Account</a>
  <a *ngIf="userType == 2" mat-button class="account" [routerLink]="'/account-agency'">Account</a>
  <a mat-button class="services" [routerLink]="'/home'">Services</a>
  <a mat-button class="services" [routerLink]="'/request'">Requests</a>
  <div class="mat-spacer"></div>
  <a class="hello">Hello User</a>
  <a mat-button class="log" routerLink="/sign-in">Log out</a>

</mat-toolbar>

