<app-header></app-header>
<mat-grid-list class="card" cols="4" rowHeight="100%">

  <mat-grid-tile class="mat-grid-title-first"
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'transparent'"
  >
    <div class="profile">
      <img  mat-card-avatar class="profilePhoto" [src]="image" alt="User Avatar">

      <div class="button-upload-content">
        <button class="upload-photoButton" mat-raised-button
                *ngIf="isEditable"
                (click)="uploadPhoto()">Upload Photo</button>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden>

      </div>

      <div class="button-upgrade-plan">
        <button mat-raised-button *ngIf="!isEditable" (click)="redirectToUpgradePlans()">Upgrade</button>
      </div>

    </div>



  </mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile-second"
    [colspan]="2"
    [rowspan]="1"
    [style.background]="'transparent'">

    <div class="profile-fields">

      <div>
        <mat-icon style="font-size: 20px;">business</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Agency name </mat-label>
          <input matInput placeholder="AgencyName" value="TuristZone" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div>
        <mat-icon style="font-size: 20px;">email</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Email </mat-label>
          <input matInput placeholder="AgencyName" value="thom@gmail.com" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div>
        <mat-icon style="font-size: 20px;">phone</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Phone </mat-label>
          <input matInput placeholder="Phone" value="987654231" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div>
        <mat-icon style="font-size: 20px;">location_on</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Location </mat-label>
          <input matInput placeholder="Location" value="San Miguel" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div>
        <mat-icon style="font-size: 20px;">info</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Ruc </mat-label>
          <input matInput placeholder="Ruc" value="4658971632" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div>
        <mat-icon style="font-size: 20px;">receipt</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Description </mat-label>
          <input matInput placeholder="Description" value="I love radiohead, they are my life" [disabled]="!isEditable">
        </mat-form-field><br>
      </div>

      <div class="editButtons">
        <button class="editProfile" mat-raised-button *ngIf="!isEditable" (click)="redirectToChangePassword()">Change password</button>
        <button class="editProfile" mat-raised-button *ngIf="!isEditable" (click)="changeEditable()" >Update</button>
      </div>

      <div class="editButtons">
        <button class="editProfile" mat-raised-button *ngIf="isEditable" >Reset</button>
        <button class="editProfile" mat-raised-button *ngIf="isEditable" (click)="onSaveClick()" >Save changes</button>
      </div>

    </div>


  </mat-grid-tile>

</mat-grid-list>

