<app-header></app-header>
<div class="change-password-content">
  <mat-stepper #stepper class="mat-stepper-content">
    <mat-step [stepControl]="firstFormGroup" class="first-step-content">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your current password</ng-template>
        <mat-form-field>
          <mat-label>Current Password</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" class="second-step-content">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your new password</ng-template>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="New password"
                 required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Confirm new password"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step class="third-step-content">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious (click)="redirectToProfile()">Come back</button>
<!--        <button mat-button (click)="stepper.reset()">Reset</button>-->
      </div>
    </mat-step>
  </mat-stepper>
</div>
