.change-password-content{
  min-height: calc(100vh - 120px); /* Resta 120px para el header y el footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: auto;
  margin-top: 100px;
}

.mat-stepper-content{
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 100px;*/

}


@media screen and (max-width: 768px) {
  .change-password-content {
    margin-top: 0; /* Elimina el margen superior */
  }

  .mat-stepper-content {
    margin-top: 50px; /* Ajusta el margen superior en pantallas pequeñas */
  }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 769px) {
  .change-password-content {
    margin-top: 100px; /* Vuelve a aplicar el margen superior para pantallas medianas y grandes */
  }
}
