.register-form {
  background-color: rgba(53, 111, 128, 1);
  width: 50%;
  height: 36rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
}
.mat-form-field {
  width: 100%;
  margin-top: 15px;
}
.mat-form-type {
  width: 35%;
  margin-top: 15px;
}
